@{
    ViewBag.Title = "Principal";
}

<div >
    <h1>Pagina principal</h1>

    <h2>Manu de operacion</h2>

    <ul>
        <li>
            <a href="Producto/Index" title="Title- Gestion de productos">Gestion de productos</a>
            
        </li>
    </ul>
    
</div>

