@using LPPA.Web.Site.Models
@{
    ViewBag.Title = "Listado principal de productos";
}

<h2>Listado general de productos</h2>
<p>
    <a href="/Producto/Create"> Nuevo producto</a>
</p>

<hr />

<ul>
    @foreach (var item in Dominio.Get())

    {
        <li>codigo:@item.Codigo | @item.Nombre</li>
    }
</ul>

<h3>Fecha y hora del servidor</h3>
<span>@DateTime.Now</span>
   